html {
  height: 100%;
}
html body#checkout {
  height: 100%;
}
html body#checkout #grand {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}
html body#checkout #grand #screen,
html body#checkout #grand .wrapper {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  width: 1230px;
  position: relative;
  padding: 0;
}
html body#checkout #grand #screen #show,
html body#checkout #grand .wrapper #show {
  position: absolute;
}
html body#checkout #grand #screen #show #display,
html body#checkout #grand .wrapper #show #display {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body#checkout #grand #screen #show #display .page,
html body#checkout #grand .wrapper #show #display .page {
  top: 0;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}
html body#checkout #grand #screen #show #display .page .content .top.title,
html body#checkout #grand .wrapper #show #display .page .content .top.title {
  margin: 10% 0 4%;
  text-align: center;
  width: 100%;
}
html body#checkout #grand #screen #show #display .page .content .top.title h1,
html body#checkout #grand .wrapper #show #display .page .content .top.title h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 4px;
  text-shadow: 2px 5px 0 rgba(1,1,1,0.1);
  text-transform: uppercase;
}
html body#checkout #grand #screen #show #display .page.active,
html body#checkout #grand .wrapper #show #display .page.active {
  display: block;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers {
  margin: 55px 0 0 0;
}
html body#checkout #grand #screen #show #display #frame1 .detail h2,
html body#checkout #grand .wrapper #show #display #frame1 .detail h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
  text-transform: uppercase;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers {
  padding: 0;
  margin: 0 10px 10px 10px;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf {
  width: 100%;
  height: 100%;
  margin: 0 12px;
  background: none;
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 50%;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf .snack-total,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf .snack-total {
  font-size: 70px;
  padding: 35px 0 0;
  text-shadow: 3px 4px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf .snack-text,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf .snack-text {
  font-family: raleway;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 12px 0 0;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
  text-transform: uppercase;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf .label-text,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers .buf .label-text {
  display: block;
  font-family: raleway;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 72px 0 0;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
  text-transform: uppercase;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf {
  background: #FFF;
  box-shadow: 4px 5px 0 rgba(1,1,1,0.1);
  color: #e3413e;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .snack-total,
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .snack-text,
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .label-text,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .snack-total,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .snack-text,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .label-text {
  color: #e3413e;
  text-shadow: none;
}
html body#checkout #grand #screen #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .label-text,
html body#checkout #grand .wrapper #show #display #frame1 .detail .snack-numbers .col-snack-numbers.active .buf .label-text {
  line-height: 60%;
  padding: 60px 0 0;
}
html body#checkout #grand #screen #show #display #frame1 .control,
html body#checkout #grand .wrapper #show #display #frame1 .control {
  width: 100%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame1 .control a.btn.border,
html body#checkout #grand .wrapper #show #display #frame1 .control a.btn.border {
  outline: none;
  background: none;
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 4px;
  color: #FFF;
  margin: 10% auto 0;
}
html body#checkout #grand #screen #show #display #frame2 .top.title h1,
html body#checkout #grand .wrapper #show #display #frame2 .top.title h1 {
  background: rgba(0,0,0,0) url("../images/01_Checkout/ico_info.png") no-repeat scroll 74.5% 5.5%;
}
html body#checkout #grand #screen #show #display #frame2 .top.title p.min.text,
html body#checkout #grand .wrapper #show #display #frame2 .top.title p.min.text {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 20px 0 5px;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 86%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  padding: 0;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item .cycle,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item .cycle {
  border: 1px solid rgba(87,88,123,0.4);
  box-shadow: 2px 3px 0 rgba(255,255,255,0.1);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: -moz-linear-gradient(top,rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000',endColorstr='#00000000',GradientType=0);
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item .text,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item .text {
  color: rgba(255,255,255,0.8);
  display: block;
  font-family: raleway;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  line-height: 135%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  word-wrap: break-word;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item .text span,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item .text span {
  padding: 40px 0 0;
  display: inline-block;
  vertical-align: middle;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item .l2 span,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item .l2 span {
  padding: 30px 0 0;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item a,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item a {
  cursor: pointer;
  display: none;
  height: 36px;
  overflow: hidden;
  position: absolute;
  text-indent: 9999px;
  width: 36px;
  z-index: 9999;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item .minu,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item .minu {
  bottom: -5px;
  left: 0;
  background: url("../images/01_Checkout/ico_minus.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item .plus,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item .plus {
  bottom: -5px;
  right: 0;
  background: url("../images/01_Checkout/ico_plus.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item:hover .cycle,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item:hover .cycle {
  background: none;
  box-shadow: none;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item:hover .text,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item:hover .text {
  color: #ffffff;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item:hover a,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item:hover a {
  display: block;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item.plused .text,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item.plused .text {
  color: #ffffff;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item.plused .cycle,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item.plused .cycle {
  border: none;
  background: #5cace2;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.2);
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item.minused .text,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item.minused .text {
  color: #ffffff;
}
html body#checkout #grand #screen #show #display #frame2 .detail ul.labels.list li.item.minused .cycle,
html body#checkout #grand .wrapper #show #display #frame2 .detail ul.labels.list li.item.minused .cycle {
  border: none;
  background: #e3413e;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.2);
}
html body#checkout #grand #screen #show #display #frame2 .control,
html body#checkout #grand .wrapper #show #display #frame2 .control {
  width: 100%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame2 .control p,
html body#checkout #grand .wrapper #show #display #frame2 .control p {
  margin: 4% 0 0 0;
  font-family: raleway;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 15px;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame2 .control a.btn.border,
html body#checkout #grand .wrapper #show #display #frame2 .control a.btn.border {
  outline: none;
  width: 89px;
  max-width: 89px;
  min-width: 89px;
  height: 59px;
  background: url("../images/01_Checkout/btn_down.png") no-repeat scroll center center;
  display: block;
  text-indent: 9999px;
  margin: 2% auto 0;
}
html body#checkout #grand #screen #show #display #frame3 .top.title p.min.text,
html body#checkout #grand .wrapper #show #display #frame3 .top.title p.min.text {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 20px 0 5px;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons {
  width: 100%;
  text-align: center;
  padding: 2% 0 0;
  margin: 0 auto;
  list-style: none;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.item,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.item {
  display: inline-block;
  font-weight: 800;
  font-size: 13px;
  color: #FFF;
  margin: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.item .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.item .ico {
  width: 163px;
  height: 164px;
  margin: 0 0 10px;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li:hover,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li:hover {
  cursor: pointer;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i1 .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i1 .ico {
  background: url("../images/01_Checkout/round_ico1.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i1:hover .ico,
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i1.active .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i1:hover .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i1.active .ico {
  background: url("../images/01_Checkout/hover_round_ico1.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i2 .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i2 .ico {
  background: url("../images/01_Checkout/round_ico2.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i2:hover .ico,
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i2.active .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i2:hover .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i2.active .ico {
  background: url("../images/01_Checkout/hover_round_ico2.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i3 .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i3 .ico {
  background: url("../images/01_Checkout/round_ico3.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i3:hover .ico,
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i3.active .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i3:hover .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i3.active .ico {
  background: url("../images/01_Checkout/hover_round_ico3.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i4 .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i4 .ico {
  background: url("../images/01_Checkout/round_ico4.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i4:hover .ico,
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i4.active .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i4:hover .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i4.active .ico {
  background: url("../images/01_Checkout/hover_round_ico4.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i5 .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i5 .ico {
  background: url("../images/01_Checkout/round_ico5.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i5:hover .ico,
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i5.active .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i5:hover .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i5.active .ico {
  background: url("../images/01_Checkout/hover_round_ico5.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i6 .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i6 .ico {
  background: url("../images/01_Checkout/round_ico6.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i6:hover .ico,
html body#checkout #grand #screen #show #display #frame3 .detail ul.icons li.i6.active .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i6:hover .ico,
html body#checkout #grand .wrapper #show #display #frame3 .detail ul.icons li.i6.active .ico {
  background: url("../images/01_Checkout/hover_round_ico6.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame3 .control,
html body#checkout #grand .wrapper #show #display #frame3 .control {
  width: 100%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame3 .control p,
html body#checkout #grand .wrapper #show #display #frame3 .control p {
  margin: 5% 0 0;
  font-family: raleway;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 15px;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame3 .control a.btn.border,
html body#checkout #grand .wrapper #show #display #frame3 .control a.btn.border {
  outline: none;
  background: none;
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 4px;
  color: #FFF;
  margin: 2.5% auto 0;
}
html body#checkout #grand #screen #show #display #frame4 .top.title,
html body#checkout #grand .wrapper #show #display #frame4 .top.title {
  margin: 10% 0 2.5%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame4 .top.title p.min.text,
html body#checkout #grand .wrapper #show #display #frame4 .top.title p.min.text {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 15px 0 5px;
}
html body#checkout #grand #screen #show #display #frame4 .top.title p.min.text #quicklogin,
html body#checkout #grand .wrapper #show #display #frame4 .top.title p.min.text #quicklogin {
  background: #e3413e none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 15px;
  margin: 0 0 0 3px;
  min-width: auto;
  padding: 3px 15px;
  text-transform: none;
  width: auto;
}
html body#checkout #grand #screen #show #display #frame4 .detail,
html body#checkout #grand .wrapper #show #display #frame4 .detail {
  width: 100%;
  overflow: hidden;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form {
  display: block;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .left-side,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .left-side {
  padding-right: 3%;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .right-side,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .right-side {
  padding-left: 3%;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .form-group,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .form-group {
  padding-bottom: 4px;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .form-group .form-control,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .form-group .form-control {
  border-radius: 3px;
  color: #999;
  font-family: raleway;
  padding: 3px 12px;
  border: 1px solid #FFF;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .col-xs-6,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .col-xs-6 {
  margin: 0 0 10px 0;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .col-xs-12,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .col-xs-12 {
  padding: 0 15px;
  margin: 0 0 12px 0;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .bootstrap-select,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .bootstrap-select {
  border: 1px solid #fff;
  background: #FFF;
  border-radius: 3px;
  color: #999;
  padding: 3px 12px;
  font-family: raleway;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .dropdown-toggle,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .dropdown-toggle {
  min-width: 250px;
  width: 250px;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .btn-group.open,
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .dropdown-toggle,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .btn-group.open,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .dropdown-toggle {
  box-shadow: none;
}
html body#checkout #grand #screen #show #display #frame4 .detail .site-form .dropdown-menu ul li a,
html body#checkout #grand .wrapper #show #display #frame4 .detail .site-form .dropdown-menu ul li a {
  outline: none;
  color: #999 !important;
}
html body#checkout #grand #screen #show #display #frame4 .detail .inputs.line.checking,
html body#checkout #grand .wrapper #show #display #frame4 .detail .inputs.line.checking {
  width: 95%;
  margin: -7px 0 0 0;
  float: left;
  padding: 0 0 0 12px;
  position: relative;
}
html body#checkout #grand #screen #show #display #frame4 .detail .inputs.line.checking span,
html body#checkout #grand .wrapper #show #display #frame4 .detail .inputs.line.checking span {
  color: #FFF;
  float: left;
  text-shadow: 1px 2px 0 rgba(1,1,1,0.1);
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 700;
  letter-spacing: 1px;
}
html body#checkout #grand #screen #show #display #frame4 .detail .inputs.line.checking span input.checkbox,
html body#checkout #grand .wrapper #show #display #frame4 .detail .inputs.line.checking span input.checkbox {
  float: left;
  height: 20px;
  margin: 0 5px 0 0;
  width: 20px;
  border-radius: 3px;
  box-shadow: 1px 2px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame4 .detail .inputs.line.checking span input.checkbox:not(:checked),
html body#checkout #grand .wrapper #show #display #frame4 .detail .inputs.line.checking span input.checkbox:not(:checked) {
  background: #FFF;
}
html body#checkout #grand #screen #show #display #frame4 .detail .inputs.line.checking span input.checkbox:checked+label span,
html body#checkout #grand .wrapper #show #display #frame4 .detail .inputs.line.checking span input.checkbox:checked+label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #FFF url("../images/01_Checkout/ico_red_check.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame4 .detail .inputs.line.checking span input.checkbox:checked,
html body#checkout #grand .wrapper #show #display #frame4 .detail .inputs.line.checking span input.checkbox:checked {
  background: #FFF url("../images/01_Checkout/ico_red_check.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame4 .control,
html body#checkout #grand .wrapper #show #display #frame4 .control {
  width: 100%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame4 .control p,
html body#checkout #grand .wrapper #show #display #frame4 .control p {
  margin: 4% 0 0 0;
  font-family: raleway;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 15px;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame4 .control a.btn.border,
html body#checkout #grand .wrapper #show #display #frame4 .control a.btn.border {
  outline: none;
  width: 89px;
  max-width: 89px;
  min-width: 89px;
  height: 59px;
  background: url("../images/01_Checkout/btn_down.png") no-repeat scroll center center;
  display: block;
  text-indent: 9999px;
  margin: 4% auto 0;
}
html body#checkout #grand #screen #show #display #frame5 .top.title,
html body#checkout #grand .wrapper #show #display #frame5 .top.title {
  margin: 10% 0 2.5%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address {
  min-width: 100%;
  overflow: hidden;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail {
  width: 100%;
  overflow: hidden;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .left-side,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .left-side {
  padding-right: 3%;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .right-side,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .right-side {
  padding-left: 3%;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .form-group,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .form-group {
  padding-bottom: 4px;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .form-group .form-control,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .form-group .form-control {
  border-radius: 3px;
  color: #999;
  font-family: raleway;
  padding: 3px 12px;
  border: 1px solid #FFF;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .col-xs-6,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .col-xs-6 {
  margin: 0 0 10px 0;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .col-xs-12,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .col-xs-12 {
  padding: 0 5%;
  margin: 0 0 12px 0;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .bootstrap-select,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .bootstrap-select {
  border: 1px solid #fff;
  background: #FFF;
  border-radius: 3px;
  color: #999;
  padding: 3px 12px;
  font-family: raleway;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .dropdown-toggle,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .dropdown-toggle {
  min-width: 240px;
  width: 240px;
  padding: 0 10px 0 0;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .btn-group.open,
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .dropdown-toggle,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .btn-group.open,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .dropdown-toggle {
  box-shadow: none;
}
html body#checkout #grand #screen #show #display #frame5 #shipping_address .detail .dropdown-menu ul li a,
html body#checkout #grand .wrapper #show #display #frame5 #shipping_address .detail .dropdown-menu ul li a {
  outline: none;
  color: #999 !important;
}
html body#checkout #grand #screen #show #display #frame5 .control,
html body#checkout #grand .wrapper #show #display #frame5 .control {
  width: 100%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame5 .control p,
html body#checkout #grand .wrapper #show #display #frame5 .control p {
  margin: 4% 0 0 0;
  font-family: raleway;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 15px;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame5 .control a.btn.border,
html body#checkout #grand .wrapper #show #display #frame5 .control a.btn.border {
  outline: none;
  width: 89px;
  max-width: 89px;
  min-width: 89px;
  height: 59px;
  background: url("../images/01_Checkout/btn_down.png") no-repeat scroll center center;
  display: block;
  text-indent: 9999px;
  margin: 6% auto 0;
}
html body#checkout #grand #screen #show #display #frame6 .top.title,
html body#checkout #grand .wrapper #show #display #frame6 .top.title {
  margin: 10% 0 2.5%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready {
  min-width: 100%;
  overflow: hidden;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail {
  width: 100%;
  overflow: hidden;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .row.gift-card,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .row.gift-card {
  margin: 0;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .col-xs-12 h2,
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .inputs.line h2,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .col-xs-12 h2,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .inputs.line h2 {
  width: 100%;
  text-align: center;
  font-family: raleway;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 23px;
  letter-spacing: 2px;
  color: #FFF;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .left-side,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .left-side {
  max-width: 50%;
  padding: 0 45px 0 12px;
  width: 50% !important;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .left-side .box-card .card-img,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .left-side .box-card .card-img {
  width: 76px;
  margin: 0 20px 0 0;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .left-side .box-card .card-img img,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .left-side .box-card .card-img img {
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .left-side .box-card .card-img:last-child,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .left-side .box-card .card-img:last-child {
  margin: 0;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side {
  padding: 0 1% 0 40px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border {
  border: 2px dashed rgba(255,255,255,0.5);
  border-radius: 5px;
  margin: 30px 0 40px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent {
  background: rgba(0,0,0,0) url("../images/01_Checkout/front_truck.png") no-repeat scroll 11% 52%;
  padding: 18px 45px 20px 190px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .big.text,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .big.text {
  color: #FFF;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text {
  color: #fff;
  font-family: roboto slab;
  overflow: hidden;
  width: 100%;
  margin: 2px 0 3px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text .currency,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text .currency {
  display: block;
  float: left;
  font-size: 28px;
  font-weight: 800;
  padding: 3px 0 0;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text .big.number,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text .big.number {
  display: block;
  float: left;
  font-size: 50px;
  font-weight: 800;
  line-height: 45px;
  padding: 0 0 0 8px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text .small.number,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .coin.text .small.number {
  border-bottom: 3px solid #e3413e;
  display: block;
  float: left;
  font-size: 27px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 0 8px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .min.text,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .dashed.border .subcontent .min.text {
  color: #FFF;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .input.object.fit.text,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .input.object.fit.text {
  position: relative;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .input.object.fit.text input,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .input.object.fit.text input {
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
  color: #999;
  font-family: raleway;
  padding: 3px 12px;
  font-size: 16px;
  height: 50px;
  width: 100%;
  margin: 9px 0 18px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .right-side .line .green.checked,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .right-side .line .green.checked {
  display: block;
  width: 29px;
  height: 29px;
  position: absolute;
  bottom: 27px;
  right: 15px;
  background: url("../images/01_Checkout/cycle_check.png") no-repeat scroll center center;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .form-group,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .form-group {
  padding-bottom: 4px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .form-group .form-control,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .form-group .form-control {
  border-radius: 3px;
  color: #999;
  font-family: raleway;
  padding: 3px 12px;
  border: 1px solid #FFF;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .col-xs-6,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .col-xs-6 {
  margin: 0 0 10px 0;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .col-xs-12.form-group,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .col-xs-12.form-group {
  margin: 0 0 15px;
  padding: 0 19px 0 15px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .col-xs-6.form-group,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .col-xs-6.form-group {
  padding: 0 15px;
}
html body#checkout #grand #screen #show #display #frame6 #checkout_ready .detail .col-xs-6.form-group:last-child,
html body#checkout #grand .wrapper #show #display #frame6 #checkout_ready .detail .col-xs-6.form-group:last-child {
  padding: 0 18px 0 0px;
}
html body#checkout #grand #screen #show #display #frame6 .control,
html body#checkout #grand .wrapper #show #display #frame6 .control {
  width: 100%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame6 .control p,
html body#checkout #grand .wrapper #show #display #frame6 .control p {
  margin: 1% 0 0 0;
  font-family: raleway;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 15px;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame6 .control a.border.complete,
html body#checkout #grand .wrapper #show #display #frame6 .control a.border.complete {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-family: roboto slab;
  font-size: 20px;
  font-weight: 800;
  height: 57px;
  letter-spacing: 3px;
  line-height: 55px;
  margin: 2% auto 0;
  max-width: 305px;
  min-width: 305px;
  outline: medium none;
  text-transform: uppercase;
  width: 305px;
}
html body#checkout #grand #screen #show #display #frame7 .top.title,
html body#checkout #grand .wrapper #show #display #frame7 .top.title {
  margin: 10% 0 2.5%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address {
  min-width: 100%;
  overflow: hidden;
  width: 100%;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail {
  width: 100%;
  overflow: hidden;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .left-side,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .left-side {
  padding-right: 3%;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .right-side,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .right-side {
  padding-left: 3%;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .form-group,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .form-group {
  padding-bottom: 4px;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .form-group .form-control,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .form-group .form-control {
  border-radius: 3px;
  color: #999;
  font-family: raleway;
  padding: 3px 12px;
  border: 1px solid #FFF;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .col-xs-6,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .col-xs-6 {
  margin: 0 0 10px 0;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .col-xs-12,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .col-xs-12 {
  padding: 0 5%;
  margin: 0 0 12px 0;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .bootstrap-select,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .bootstrap-select {
  border: 1px solid #fff;
  background: #FFF;
  border-radius: 3px;
  color: #999;
  padding: 3px 12px;
  font-family: raleway;
  box-shadow: 2px 3px 0 rgba(1,1,1,0.15);
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .dropdown-toggle,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .dropdown-toggle {
  min-width: 240px;
  width: 240px;
  padding: 0 10px 0 0;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .btn-group.open,
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .dropdown-toggle,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .btn-group.open,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .dropdown-toggle {
  box-shadow: none;
}
html body#checkout #grand #screen #show #display #frame7 #shipping_address .detail .dropdown-menu ul li a,
html body#checkout #grand .wrapper #show #display #frame7 #shipping_address .detail .dropdown-menu ul li a {
  outline: none;
  color: #999 !important;
}
html body#checkout #grand #screen #show #display #frame7 .control,
html body#checkout #grand .wrapper #show #display #frame7 .control {
  width: 100%;
  text-align: center;
}
html body#checkout #grand #screen #show #display #frame7 .control p,
html body#checkout #grand .wrapper #show #display #frame7 .control p {
  margin: 4% 0 0 0;
  font-family: raleway;
  font-weight: 700;
  color: #FFF;
  letter-spacing: 2px;
  font-size: 15px;
  text-shadow: 2px 3px 0 rgba(1,1,1,0.1);
}
html body#checkout #grand #screen #show #display #frame7 .control a.btn.border,
html body#checkout #grand .wrapper #show #display #frame7 .control a.btn.border {
  outline: none;
  width: 89px;
  max-width: 89px;
  min-width: 89px;
  height: 59px;
  background: url("../images/01_Checkout/btn_down.png") no-repeat scroll center center;
  display: block;
  text-indent: 9999px;
  margin: 6% auto 0;
}
html body#checkout #grand #screen #scenes,
html body#checkout #grand .wrapper #scenes {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
html body#checkout #grand #screen #scenes #animation,
html body#checkout #grand .wrapper #scenes #animation {
  position: relative;
  width: 100%;
  height: 100%;
}
html body#checkout #grand #screen #scenes #animation .obj,
html body#checkout #grand .wrapper #scenes #animation .obj {
  position: absolute;
}
html body#checkout #grand #screen #scenes #animation .obj.active,
html body#checkout #grand .wrapper #scenes #animation .obj.active {
  display: block;
}
html body#checkout #grand #screen #scenes #animation #truck,
html body#checkout #grand .wrapper #scenes #animation #truck {
  left: 6%;
  bottom: 10px;
  width: 172px;
  height: 105px;
  background: url("../images/01_Checkout/truck.png") no-repeat scroll bottom center;
}
html body#checkout #grand #screen #scenes #animation #family,
html body#checkout #grand .wrapper #scenes #animation #family {
  width: 140px;
  height: 78px;
  bottom: 10px;
  right: 65px;
  background: url("../images/01_Checkout/people.png") no-repeat scroll bottom center;
}
html body#checkout #grand #screen #scenes #animation #hearts,
html body#checkout #grand .wrapper #scenes #animation #hearts {
  width: 60px;
  height: 60px;
  bottom: 150px;
  right: 85px;
  background: url("../images/01_Checkout/ico_heart.png") no-repeat scroll bottom center;
}
html body#checkout #controller {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
html body#checkout #controller .wrapper {
  width: 1560px;
  max-width: 1560px;
}
html body#checkout #controller #back {
  display: block;
  left: 0;
  top: 15px;
  overflow: hidden;
  position: absolute;
  width: 59px;
  max-width: 59px;
  min-width: 59px;
  height: 51px;
  background: url("../images/01_Checkout/btn_back.png") no-repeat scroll bottom center;
}
html body#checkout #controller #back a {
  display: block;
  height: 51px !important;
  overflow: hidden;
  position: absolute;
  text-indent: 9999px;
  width: 59px !important;
  z-index: 99999;
}
html body#checkout #controller #scroller {
  display: block;
  right: 0;
  top: 15px;
  overflow: hidden;
  position: absolute;
  width: 142px;
  height: 120px;
  background: url("../images/01_Checkout/ico_scroller.png") no-repeat scroll bottom center;
}
html body#checkout #controller #scroller .main {
  font-weight: 550;
  font-family: "roboto slab";
  display: block;
  text-align: center;
  color: #222;
}
html body#checkout #controller #scroller .main .currency {
  font-weight: 600;
  display: block;
  float: left;
  font-size: 15px;
  margin: 19px 0 0 29px;
}
html body#checkout #controller #scroller .main .big.number {
  display: block;
  float: left;
  font-size: 30px;
  margin: 7px 0 0 5px;
}
html body#checkout #controller #scroller .main .small.number {
  border-bottom: 2px solid #e3413e;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin: 16px 0 0 3px;
  overflow: hidden;
}
html body#checkout #controller #scroller .sub {
  display: block;
  margin: 60px 0 0;
  font-family: "roboto slab";
}
html body#checkout #controller #scroller .sub .steps {
  margin: 0;
  padding: 10px 0 0 12px;
}
html body#checkout #controller #scroller .sub .steps .item {
  background: #dfe0e1;
  border-radius: 6px;
  color: #656d78;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  line-height: 120%;
  margin: 0 12px 0 0;
  padding: 5px;
  text-align: center;
  width: 30px;
}
html body#checkout #controller #scroller .sub .steps .current {
  color: #fff;
  background: #e3413e;
}
html body#checkout #controller #scroller .sub .steps .active {
  background: #2cc66d url("../images/01_Checkout/ico_check.png") no-repeat scroll center center;
  text-indent: 9999px;
}
html body#checkout #controller #scroller.hidden {
  display: none;
}
html body#checkout #login {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html body#checkout #login .fronted {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
html body#checkout #login .fronted .content.wrapper .top.title {
  width: 100%;
  text-align: center;
  color: #FFF;
  font-family: raleway;
}
html body#checkout #login .fronted .content.wrapper .top.title h1 {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 9% 0 0.6%;
  text-transform: uppercase;
}
html body#checkout #login .fronted .content.wrapper .top.title p {
  font-size: 14px;
  font-weight: 500;
}
html body#checkout #login .fronted .content.wrapper .detail {
  padding: 1% 0 0;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login {
  width: 100%;
  min-width: 100%;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line {
  margin: 15px auto 30px;
  position: relative;
  text-align: center;
  width: 45%;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line input {
  background: rgba(0,0,0,0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #696d6f;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin: 2% auto 1%;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line input::-webkit-input-placeholder {
  color: #FFF;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line input:-moz-placeholder {
  color: #FFF;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line input::-moz-placeholder {
  color: #FFF;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line input:-ms-input-placeholder {
  color: #FFF;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line input::placeholder {
  color: #FFF;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line a.forgot-password {
  bottom: 25px;
  color: #999;
  font-size: 12px;
  position: absolute;
  right: 0;
}
html body#checkout #login .fronted .content.wrapper .detail #quick_login .line #login {
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 5px;
  display: block;
  height: 55px;
  font-weight: 300;
  line-height: 50px;
  padding: 0;
  position: relative;
  width: 305px;
}
html body#checkout #login .fronted .content.wrapper .control .note.sub.text {
  display: block;
  overflow: hidden;
  padding: 15px 0 5px;
  text-align: center;
  width: 100%;
  color: #FFF;
  font-weight: 500;
}
html body#checkout #login .fronted .content.wrapper .control .note.sub.text a {
  color: #4493cf;
}
html body#checkout #login .fronted .content.wrapper .control .social.bar {
  overflow: hidden;
  padding: 15px 0;
}
html body#checkout #login .fronted .content.wrapper .control .social.bar a {
  height: 100px;
  margin: 0 15px;
  outline: medium none;
  width: 100px;
}
html body#checkout #login .back.dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(1,1,1,0.85);
}
html body#checkout #login.active {
  display: block;
}
html body#checkout #background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
html body#checkout #background .scene {
  width: 100%;
  height: 100%;
  display: none;
}
html body#checkout #background .scene.active {
  display: block;
}
html body#checkout #background .day {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url("../images/01_Checkout/morning_background.png") repeat-x scroll bottom center;
}
html body#checkout #background .night {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0,0) url("../images/01_Checkout/night_background.png") repeat-x scroll bottom center;
}
