- include('head.php')
%body{:id=>'checkout',:class=>'checkout'}
   #grand.wrapper
      #screen
         #show
            .wrapper
               #display
                  #frame1.deep1.page
                     .deep2
                        .content
                           .top.title
                              %h1 Let’s get Start
                           .detail
                              .col-xs-6
                                 %h2 How many snacks per box?
                                 .snack-numbers
                                    .col-snack-numbers
                                       .buf
                                          %p.snack-total +5
                                          %p.snack-text snacks
                                    .col-snack-numbers.active
                                       .buf
                                          %p.snack-total +10
                                          %p.snack-text snacks
                                    .col-snack-numbers
                                       .buf
                                          %p.snack-total +20
                                          %p.snack-text snacks
                              .col-xs-6
                                 %h2 Choose your delivery frequency
                                 .snack-numbers
                                    .col-snack-numbers
                                       .buf
                                          %p.label-text weekly
                                    .col-snack-numbers.active
                                       .buf
                                          %p.label-text
                                             every
                                             %br
                                             2 weeks
                                    .col-snack-numbers
                                       .buf
                                          %p.label-text monthly
                           .control
                              %a.border.btn.next{:href=>'#'} Next
                  #frame2.deep1.page
                     .deep2
                        .content
                           .top.title
                              %h1 Customize this package
                              %p.min.text (optional for picky eaters or people with allergies)
                           .detail
                              %ul.labels.list
                                 %li.label.item
                                    .cycle
                                    .text
                                       %span Spicy
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item
                                    .cycle
                                    .text
                                       %span Salty
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item.plused
                                    .cycle
                                    .text
                                       %span Sweet
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item
                                    .cycle
                                    .text
                                       %span Sour
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item.minused
                                    .cycle
                                    .text
                                       %span Chewy
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item
                                    .cycle
                                    .text
                                       %span Crunchy
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item.plused
                                    .cycle
                                    .text
                                       %span Gummy
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item.minused
                                    .cycle
                                    .text
                                       %span Seafood
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item
                                    .cycle
                                    .text
                                       %span Nuts
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item.minused
                                    .cycle
                                    .text
                                       %span Meat
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item
                                    .cycle
                                    .text
                                       %span Candy
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item
                                    .cycle
                                    .text
                                       %span Chips
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item.plused
                                    .cycle
                                    .text
                                       %span Cookies
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item.plused
                                    .cycle
                                    .text.l2
                                       %span
                                          Foreign
                                          %br
                                          Snacks
                                    %a.minu -
                                    %a.plus +
                                 %li.label.item
                                    .cycle
                                    .text.l2
                                       %span
                                          Domestic
                                          %br
                                          Snacks
                                    %a.minu -
                                    %a.plus +
                           .control
                              %p Above Variables ($1 Each)
                              %a.border.btn.down{:href=>'#'} v
                  #frame3.deep1.page
                     .deep2
                        .content
                           .top.title
                              %h1 Add a drink
                              %p.min.text (all those snacks are going to make you thirsty)
                           .detail
                              %ul.icons.list
                                 %li.item.i1
                                    .ico
                                    coffee
                                 %li.item.i2.active
                                    .ico
                                    tea
                                 %li.item.i3
                                    .ico
                                    fruit juice
                                 %li.item.i4
                                    .ico
                                    soda
                                 %li.item.i5
                                    .ico
                                    energy drink
                                 %li.item.i6
                                    .ico
                                    flavored walter
                           .control
                              %p Above Variables ($5 Each)
                              %a.border.btn.next{:href=>'#'} Next
                  #frame4.deep1.page
                     .deep2
                        .content
                           .top.title
                              %h1 Billing Address
                              %p.min.text
                                 Already have an account?
                                 %a#quicklogin.min.red.btn{:href=>'#'}
                                    Sign in!
                           .detail
                              %form.site-form{:action=>'#',:name=>'billing-address',:method=>'post'}
                                 .row.gift-billing.col-xs-6.left-side
                                    .col-xs-12
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'firstname',:placeholder=>'First Name*',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'lastname',:placeholder=>'Last Name*',:required=>' '}
                                       .row.form-col2
                                          .col-xs-12.form-group
                                             %input.form-control{:type=>'textbox',:name=>'address',:placeholder=>'Address*',:required=>' '}
                                       .row.form-col2
                                          .col-xs-12.form-group
                                             %input.form-control{:type=>'textbox',:name=>'address2',:placeholder=>'Address 2',:required=>' '}
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'tel',:placeholder=>'Tel*',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'email',:placeholder=>'Email*',:required=>' '}
                                 .row.gift-billing.col-xs-6.right-side
                                    .col-xs-12
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'city',:placeholder=>'City*',:required=>' '}
                                          .col-xs-6.form-group
                                             %select.selectpicker{:name=>'region'}
                                                %option{:selected=>'selected',:value=>'0'} Region, state or province*
                                                %option{:value=>'+80'} +80
                                                %option{:value=>'+82'} +82
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'zip',:placeholder=>'Zip*',:required=>' '}
                                          .col-xs-6.form-group
                                             %select.selectpicker{:name=>'region'}
                                                %option{:selected=>'selected',:value=>'0'} United States
                                                %option{:value=>'japan'} Japan
                                                %option{:value=>'france'} France
                                                %option{:value=>'canada'} Canada
                                                %option{:value=>'gemany'} Gemany
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'company',:placeholder=>'Company',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'fax',:placeholder=>'Fax',:required=>' '}
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'password',:placeholder=>'Password*',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'confirm',:placeholder=>'Confirm Password*',:required=>' '}
                                    .inputs.line.checking
                                       %span
                                          %input.checkbox{:type=>'checkbox',:checked=>'checked',:name=>'same'}
                                          %label check if billing and shipping address are the same
                           .control
                              %a.border.btn.down{:href=>'#'} v
                  #frame5.deep1.page
                     .deep2
                        .content
                           %form#shipping_address.site-form{:action=>'#',:name=>'shipping-address',:method=>'post'}
                              .top.title
                                 %h1 Shipping Address
                              .detail
                                 .row.gift-billing.col-xs-6
                                    .col-xs-12
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'firstname',:placeholder=>'First Name*',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'lastname',:placeholder=>'Last Name*',:required=>' '}
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'address',:placeholder=>'Address*',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'address2',:placeholder=>'Address 2',:required=>' '}
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'tel',:placeholder=>'Tel*',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'email',:placeholder=>'Email*',:required=>' '}
                                 .row.gift-billing.col-xs-6
                                    .col-xs-12
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'city',:placeholder=>'City*',:required=>' '}
                                          .col-xs-6.form-group
                                             %select.selectpicker{:name=>'region'}
                                                %option{:selected=>'selected',:value=>'0'} Region, state or province*
                                                %option{:value=>'+80'} +80
                                                %option{:value=>'+82'} +82
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'zip',:placeholder=>'Zip*',:required=>' '}
                                          .col-xs-6.form-group
                                             %select.selectpicker{:name=>'region'}
                                                %option{:selected=>'selected',:value=>'0'} United States
                                                %option{:value=>'japan'} Japan
                                                %option{:value=>'france'} France
                                                %option{:value=>'canada'} Canada
                                                %option{:value=>'gemany'} Gemany
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'company',:placeholder=>'Company',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'fax',:placeholder=>'Fax',:required=>' '}
                                       .row.form-col2
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'password',:placeholder=>'Password*',:required=>' '}
                                          .col-xs-6.form-group
                                             %input.form-control{:type=>'textbox',:name=>'confirm',:placeholder=>'Confirm Password*',:required=>' '}
                              .control
                                 %a.border.btn.down{:href=>'#'} v
                  #frame6.deep1.page.active
                     .deep2
                        .content
                           %form#shipping_address
                              .top.title
                                 %h1 Your SnackPak is ready
                              .detail
                                 .col-xs-6.site-form
                                    .row.gift-card
                                       .col-xs-12
                                          %h2 Payment Method
                                       .box-card
                                          .card-img
                                             %img{:src=>'./images/Common/Payment/ico_payment_pp.png'}
                                             %span.card-check
                                          .card-img
                                             %img{:src=>'./images/Common/Payment/ico_payment_vs.png'}
                                             %span.card-check
                                          .card-img.active
                                             %img{:src=>'./images/Common/Payment/ico_payment_mc.png'}
                                             %span.card-check
                                          .card-img
                                             %img{:src=>'./images/Common/Payment/ico_payment_ae.png'}
                                             %span.card-check
                                          .card-img
                                             %img{:src=>'./images/Common/Payment/ico_payment_dn.png'}
                                             %span.card-check
                                          .card-img
                                             %img{:src=>'./images/Common/Payment/ico_payment_bc.png'}
                                             %span.card-check
                                    .row
                                       .col-xs-12.form-group
                                          %input.form-control{:type=>'textbox',:name=>'cardnumber',:placeholder=>'Card Number*',:required=>' '}
                                    .row
                                       .col-xs-12.form-group
                                          %input.form-control{:type=>'textbox',:name=>'cardaddress',:placeholder=>'Card Address*',:required=>' '}
                                    .row.col-xs-12
                                       .col-xs-6.form-group
                                          %input.form-control{:type=>'textbox',:name=>'card-date',:placeholder=>'DD/MM/YY',:required=>' '}
                                       .col-xs-6.form-group
                                          %input.form-control{:type=>'textbox',:name=>'card-security',:placeholder=>'CVV',:required=>' '}
                                 .col-xs-6
                                    .inputs.line
                                       %h2 Shipping Method
                                    .inputs.line
                                       .dashed.border
                                          .subcontent
                                             .big.text Flat rate
                                             .coin.text
                                                .currency $
                                                .big.number 12
                                                .small.number 00
                                             .min.text Purchase multiple months and save on shipping!
                                    .inputs.line
                                       %h2 Apply Promo Code
                                    .inputs.line
                                       .input.object.fit.text
                                          %input{:type=>'textbox',:name=>'promocode',:value=>' '}
                                          .label
                                             Enter your Promo code
                                             %p.green.checked
                              .control
                                 %a.border.btn.down{:href=>'#'} Order Now
                                 %p.sub.text By clicking ORDER, you agree to the TERMS OF USE
                  #frame7.deep1.page
                     .deep2
                        .content
                           .top.title
                              %h1 Check out Sucessfully
                              %h2 Your MunchPak is on the way
                           .detail
                              .special.line.l1
                                 %h3.red Total amount
                              .special.line.l2
                                 %h4.black Shipping & Promo Included
                              .special.line.l3
                                 .amount
                                    .currency $
                                    .big.number 230
                                    .small.number 25
                              .special.line.l4
                                 %p.grey Share URL & Receive 50 MunchPak Points for every friend you refer
                              .special.line.l5
                                 %a.red{:href=>'https://munchpak.com/onepage/',:target=>'_blank'} https://munchpak.com/onepage/
                           .control
                              %h3 Or share this url on
                              %ul.social.small.list
                                 %li.social.ico.item
                                    %a{:href=>'#',:target=>'_blank'}
                                       %img{:src=>'./images/01_Checkout/mini_facebook.png'}
                                 %li.social.ico.item
                                    %a{:href=>'#',:target=>'_blank'}
                                       %img{:src=>'./images/01_Checkout/mini_twitter.png'}
                                 %li.social.ico.item
                                    %a{:href=>'#',:target=>'_blank'}
                                       %img{:src=>'./images/01_Checkout/mini_google.png'}
                              %a.red.big.btn{:href=>'#',:target=>'_blank'} Visit our Shop
         #controller
            .wrapper
               #back
                  %a#go_back{:href=>'#'}
                     <
               #scroller
                  .main.content
                     .currency $
                     .big.number 230
                     .small.number 25
                  .sub.content
                     %ul.steps.check
                        %li.item.step1.active
                           %a{:href=>'#1'} 1
                        %li.item.step2.current
                           %a{:href=>'#1'} 2
                        %li.item.step3
                           %a{:href=>'#1'} 3
         #scenes
            .wrapper
               #images
                  .scene.s1.day
                  .scene.s2.night
               #decos
                  .scene.s1.sun
                  .scene.s2.moon
                  .scene.s3.smeil
               #animation
                  #truck.obj.o1.active
                  #family.obj.o2
                  #hearts.obj.o3
      #login.scene.s0.active
         .fronted
            .content.wrapper
               .top.title
                  %h1 Login required
                  %p.min.text You have to login to continue your checkout process.
               .detail
                  %form#quick_login{:name=>'quicklogin',:method=>'post',:action=>'#'}
                     .line
                        %input#username.textbox{:type=>'text',:placeholder=>'Username'}
                     .line
                        %input#password.textbox{:type=>'text',:placeholder=>'Password'}
                     .line
                        %input#login.submit.btn{:type=>'submit',:value=>'login'}
               .control
                  .note.sub.text
                     Don’t have an account?
                     %a{:href=>'#'} Sign up now
                     or just use your available accounts:
                  .social.bar
                     %a.facebook.left{:href=>'#',:target=>'_blank'}
                        %img.ico{:src=>'./images/01_Checkout/ico_facebook.png',:rel=>'Login via Facebook'}
                     %a.google.right{:href=>'#',:target=>'_blank'}
                        %img.ico{:src=>'./images/01_Checkout/ico_google.png',:rel=>'Login via Google'}
         .back.dark
   #background
      .scene.s1.day.active
      .scene.s2.night
   %script{:type=>"text/javascript",:src=>'./js/hieut.js'}
- echo('</html>');